{
    "plugins": [
        [
            "prismjs", {
                "languages": ["javascript", "css", "markup", "csharp", "json", "docker", "bash"],
                "plugins": ["line-numbers"],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}